.container {
	display: flex;
	flex-direction: column;
	max-width: 1400px;
	margin: 10px auto;

	&:first-of-type .title {
		margin-top: 0;
	}

	.title {
		display: block;
		font-size: 33px;
		margin: 30px 0 15px;

		span:hover {
			text-decoration: underline solid 3px;
			cursor: pointer;
		}
	}

	.products {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: 20px;
	}

	.link {
		&:link,
		&:visited {
			color: black;
		}

		&:hover,
		&:active {
			text-decoration: none;
		}
	}
}
