.directory-container {
	display: flex;
	cursor: pointer;
	height: 90vh;

	& .category-container {
		transition: all 0.7s ease-in-out;
		flex-grow: 1;

		&:hover {
			flex-grow: 2;
		}
	}

	&:hover .category-container:not(:hover) {
		opacity: 0.7;
	}
}
